/* Add background image */
body {
    background: url('../images/background.jpg');
    background-size: cover;
}

/* Style the draft elements */
.draft {
    display: flex;
    justify-content: center;
}

.draft {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8rem;
    transition: 100ms;

}

button.draft:hover {
    transform: scale(1.3);
    text-shadow: 0 0 15px #ff7b00;
}

/* Style the outcome elements */
.outcome {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

/* footer */

footer {
    bottom: 0;
    width: 100%;
    height: 150px;
}

.rules {
    text-align: center;
}

p.rules:hover {
    text-shadow: 0 0 15px #ff7b00;
}