/* Add google fonts */
* {
    font-family: 'Black Ops One', cursive;
}

/* Add background image */
body {
    background: url('../images/background.jpg');
    background-size: cover;
}

/* Style the header elements */
header {
    margin-top: 200px;
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 25px;
    margin: auto;
    text-align: center;
    width: 70%;
    border: 3px solid #ff7b00;
    padding: 10px;
    margin-top: 20px;
    color: #ff7b00;
    font-size: 200%;
}



/* Style the pick elements */
.pick {
    display: flex;
    justify-content: center;
}

.pick {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8rem;
    transition: 100ms;

}

button.pick:hover {
    transform: scale(1.3);
}

#pick {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 30px;
    margin: auto;
    width: 70%;
    border: 3px solid #ff7b00;
    padding: 10px;
    margin-top: 20px;
    color: #ff7b00;
    font-size: 200%;
}

h2 {
    text-align: center;
    margin: auto;
}

/* Style the outcome elements */
.outcome {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.outcome-score {
    margin-left: .1rem;
    font-size: 1.5rem;
    color: #bb5c03;
}

/* Style the resoult history elements */
.history {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.650);
    border-radius: 30px;
    margin: auto;
    width: 70%;
    border: 3px solid #ff7b00;
    padding: 10px;
    margin-top: 20px;
    color: #ff7b00;
    font-size: 200%;

}

/* Style for the history resoults */
.result-pick {
    opacity: .5;
}

.result-pick.winner {
    opacity: 1;
    font-size: 1.5rem;
}


/* footer */

footer {
    margin-top: 200px;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: #ff7b00;

}

.rules {
    text-align: center;
}

h3.rules {
    font-size: 120%;
}

p.rules:hover {
    text-shadow: 0 0 15px #ff7b00;
}

/* For screens size from 805px wide and down */
@media only screen and (max-width: 805px) {
    #pic {
        font-size: 150%;
    }

    .history {
        font-size: 150%;
    }

    .pick {
        font-size: 6rem;
    }
}

/* For screens size from 605px wide and down */
@media only screen and (max-width: 605px) {
    #pic {
        font-size: 100%;
    }

    .history {
        font-size: 100%;
    }

    .pick {
        font-size: 4rem;
        margin: 0;
    }

    .outcome {
        font-size: 90%;
    }

    #pac {
        font-size: 100%;
    }

}